.colaboradores{
    margin-bottom: 2rem;
    h2{
        @include subtitulo;
    }
}
.empresas{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    img{
        border-radius: 1rem;
        width: 65%;
        height: 80%;
    }
}