.colaboradores{
    margin-bottom: 2rem;
    h2{
        @include subtitulo;
    }
}
.empresas{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    p{
        opacity: 0;
        text-transform: uppercase;
        padding: .5rem;
        transition: all .6s;
    }
    img{
        padding: .5rem;
        border-radius: 1.5rem;
        width: 65%;
        height: 80%;
        transition: all .6s;
    }
    img:hover{
        transform: scale(1.25);
        box-shadow: 0 .5rem .5rem rgba(black, .4);
    }
    img:hover + p{
        opacity: 1;
        transform: translateY(1.5rem);
    }
}

@media only screen and (max-width: 767px){
    .empresas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        div{
            margin: .5rem 0;
        }
        img:hover{
            transform: scale(1.15);
        }
    }
}
@media only screen and (max-width: 479px){
    .empresas{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        div{
            margin: 0.5rem 0;
        }
        img:hover{
            transform: scale(1.15);
        }
    }
}