.mainHeader{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url(img/condor1.jpg);
    background-size: cover;
    .headerBox{
        margin-top: 2rem;
        padding: 2rem;
    h1{
        color: $colorPrimario;
        font-size: 4rem;
        margin-top: 2rem;
    }
    h2{
        font-size: 2rem;
        color: $colorSecundario;
        width: 30%;
        margin-bottom: 13rem;
        text-align: left;
    }   
    }
    .headerBoton:link,
    .headerBoton:visited{
        @include botonPrincipal;
    }
    .headerBoton:hover,
    .headerBoton:active{
        @include botonPrincipalHover;
    }

}

@media only screen and (max-width: 1200px){
    .mainHeader{
        background-position: 25% 0;
        .headerBox{
            padding: 2rem;
            h1{
                margin-top: 3rem;
                margin-bottom: 3rem; 
            }
            h2{
                font-size: 2rem;
                margin-bottom: 20rem;
                color: $colorSecundario;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .mainHeader{
        background-position: 5% 0;
        .headerBox{
            padding: 2rem;
            h1{
                margin-top: 3rem;
                margin-bottom: 3rem; 
            }
            h2{
                font-size: 1.5rem;
                color: $colorPrimario;
                margin-bottom: 15rem;
            }
        }
    }
}
@media only screen and (max-width: 479px){
    .mainHeader{
        background-position: 25%;
        .headerBox{
            padding: 2rem;
            h1{
                font-size: 3.5rem;
                margin-top: 4rem;
                margin-bottom: 5rem;
            }
            h2{
                font-size: 1.5rem;
                color: $colorSecundario;
                margin-bottom: 2rem;
            }
        }
    }
}
